* {
	padding: 0;
	margin: 0;
}
body{
	width: 100%;
	height: 100%;
}
.snow-container {
	position: absolute;
	top: 0;
	left: 0;
	
	background-color: #369696;
}
/* .daohang{
	display: flex;
	background-color:rgba(35, 182, 182, 0);
	height: 50px;
	width: 50px;
	position: relative;
} */