* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(38, 38, 38);
}

#box1 {
    margin: auto;
    margin-top: 10vh;
    border: 0.1px solid black;
    height: 76vh;
    width: 80vw;
    border-radius: 10px;
    background-color: #fff;
    min-height: 500px;
}

#box {
    margin: auto;
    margin-top: 3vh;
    border: 0.1px solid black;
    height: 65vh;
    width: 80vw;
    background-color: black;
    min-height: 430px;
}

#dplayer {
    margin-top: 2.5vh;
    height: 62vh;
    width: 80vw;
    min-height: 400px;
}

input {
    background-color: orange;
}

#iframe_a {
    margin: 1vh 0.5vw 1vh 0.5vw;
    height: 63vh;
    width: 78vw;
    border: none;
}

#search {
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgb(183, 183, 183);
    display: flex;
    margin: 2vh 20px 0.1vh 20px;
}

#search>input {
    width: 80vw;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(240, 240, 242);
    border: 0ch;
}

#search>button {
    margin-right: 0px;
    width: 100px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: -webkit-linear-gradient(left, #19c3ff, #0093ff);
    border: 0ch;
}

#jk {
    width: 80px;
    border: 0ch;
    background-color: rgb(240, 240, 242);
}